<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>Velas Shopping</title>
    <link
      rel="shortcut icon"
      href="./images/iconoPágina.jpg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Velas Shopping</h1>
      <nav>
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
      <div class="divBotonAcceso">
        <a href="login.html"
          ><button id="botonAcesso" class="botonAcceso">
            Acceso / Registro
          </button></a
        >
      </div>
      <div class="social-links">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
    </header>

    <main>
      <section class="product-grid">
        <article class="product">
          <img src="./images/vela1.jpg" alt="Vela Aromática" />
          <h2>Vela Aromática</h2>
          <p>Aroma de lavanda, ideal para relajarse.</p>
          <span class="price">$10.00</span>
        </article>
        <article class="product">
          <img src="./images/vela2.jpg" alt="Vela de Soja" />
          <h2>Vela de Soja</h2>
          <p>Hecha con cera natural, sin tóxicos.</p>
          <span class="price">$12.00</span>
        </article>
        <article class="product">
          <img
            src="./images/velaDeCeraDeAbeja.jpg"
            alt="Vela de Cera de Abeja"
          />
          <h2>Vela de Cera de Abeja</h2>
          <p>Proporciona una luz cálida y natural.</p>
          <span class="price">$15.00</span>
        </article>
        <article class="product">
          <img src="./images/velaEnAgua.jpg" alt="Vela Flotante" />
          <h2>Vela Flotante</h2>
          <p>Perfecta para decoraciones en el agua.</p>
          <span class="price">$8.00</span>
        </article>
        <article class="product">
          <img src="./images/velasHalloween.jpg" alt="Vela Decorativa" />
          <h2>Vela Decorativa</h2>
          <p>Diseños únicos temáticos.</p>
          <span class="price">$20.00</span>
        </article>
        <article class="product">
          <img src="./images/velaDeCafe.jpg" alt="Vela Aromática de Café" />
          <h2>Vela Aromática de Café</h2>
          <p>Un aroma delicioso que te despierta.</p>
          <span class="price">$14.00</span>
        </article>
        <article class="product">
          <img
            src="./images/velaNavidades.jpg"
            alt="Vela decorativa de navidades"
          />
          <h2>Vela decorativa de navidades</h2>
          <p></p>
          <span class="price">$14.00</span>
        </article>
        <article class="product">
          <img
            src="./images/velaSanValentin.jpg"
            alt="Vela decorativa de San Valentin"
          />
          <h2>Vela decorativa de San Valentín</h2>
          <p></p>
          <span class="price">$10.00</span>
        </article>
        <article class="product">
          <img
            src="./images/velaFormaRosas.jpg"
            alt="Vela decorativa con forma de rosa"
          />
          <h2>Vela decorativa con forma de rosa</h2>
          <p></p>
          <span class="price">$14.00</span>
        </article>
      </section>
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 Tienda de Velas. Todos los derechos reservados.</p>

        <nav>
          <ul>
            <li><a href="terminos.html">Términos y Condiciones</a></li>
            <li><a href="politica.html">Política de Privacidad</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
          </ul>
        </nav>
        <p>
          Contacto:
          <span
            ><a href="mailto:tusvelasshopping@gmail.com"
              >tusvelasshopping@gmail.com</a
            >
          </span>
        </p>
      </div>
    </footer>
  </body>
</html>
