<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="shortcut icon"
      href="/images/iconoPágina.jpg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Velas Shopping</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
      <div class="social-links">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
    </header>
    <main>
      <h2 class="form-h2">Registrarse</h2>
      <form class="form" id="register-form" action="/register" method="POST">
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required />
          <div class="error-message" id="error-nombre"></div>
        </div>
        <div>
          <label for="apellido1">1er Apellido:</label>
          <input type="text" id="apellido1" name="apellido1" required />
          <div class="error-message" id="error-apellido1"></div>
        </div>
        <div>
          <label for="apellidos2">2º Apellido:</label>
          <input type="text" id="apellidos2" name="apellido2" />
          <div class="error-message" id="error-apellido2"></div>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          <div class="error-message" id="error-email"></div>
        </div>
        <div>
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="contraseña" required minlength="6" />
          <div class="error-message" id="error-password"></div>
        </div>
        <div>
          <label for="telefono">Teléfono:</label>
          <input type="text" id="telefono" name="telefono" required pattern="\d{9}" title="El teléfono debe tener 10 dígitos." />
          <div class="error-message" id="error-telefono"></div>
        </div>
        <button type="submit">Registrarse</button>
      </form>
      <form class="form">
        <a href="/login" class="aForm">¿Ya tienes cuenta? Inicia Sesión</a>
      </form>
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 Tienda de Velas. Todos los derechos reservados.</p>
        <nav>
          <ul>
            <li><a href="">Términos y Condiciones</a></li>
            <li><a href="">Política de Privacidad</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Sobre Nosotros</a></li>
          </ul>
        </nav>
        <p>
          Contacto:
          <span
            ><a href="mailto:tusvelasshopping@gmail.com"
              >tusvelasshopping@gmail.com</a
            >
          </span>
        </p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
