<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Probar API Register</title>
  </head>
  <body>
    <h1>Prueba de API /register</h1>
    <button onclick="testApi()">Registrar Cliente</button>

    <form action=""></form>
    <script>
      function testApi() {
        fetch("https://velas-shopping.vercel.app/api/register", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            nombre: "Juan",
            apellido1: "Pérez",
            apellido2: "Gómez",
            email: "juan.perez@email.com",
            contraseña: "contraseñaSegura123",
            telefono: "123456789",
          }),
        })
          .then((response) => {
            if (!response.ok) {
              // Si el código de estado no es 200-299
              return response.json().then((error) => {
                throw new Error(error.error); // Lanzamos el mensaje de error para que sea capturado en el catch
              });
            }
            return response.json();
          })
          .then((data) => {
            console.log("Datos recibidos:", data);
          })
          .catch((error) => {
            console.error("Error capturado en el front:", error); // Aquí capturamos el error
          });
      }
    </script>
  </body>
</html>
