<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Velas Shopping</title>
    <link
      rel="shortcut icon"
      href="/images/iconoPágina.jpg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Velas Shopping</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
      <div class="divBotonAcceso" id="divBotonAcceso">
        <a href="/login"
          ><button id="botonAcesso" class="botonAcceso">
            Acceso / Registro
          </button>
        </a>
      </div>
      <div class="social-links">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
    </header>

    <main>
      <section class="product-grid"></section>
      <!-- Botón flotante de carrito -->
      <a href="/cart" class="floating-cart">
        <div class="cart-icon">
          <img src="/images/iconoPágina.jpg" alt="Vela del carrito" class="velaCarrito">
          <span class="item-count">1</span> <!-- Muestra el número de productos en el carrito -->
        </div>
      </a>
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 Tienda de Velas. Todos los derechos reservados.</p>

        <nav>
          <ul>
            <li><a href="">Términos y Condiciones</a></li>
            <li><a href="">Política de Privacidad</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Sobre Nosotros</a></li>
          </ul>
        </nav>
        <p>
          Contacto:
          <a href="mailto:tusvelasshopping@gmail.es"
            >tusvelasshopping@gmail.es</a
          >
        </p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
